body {
    background-color:black;
}
div {
background-color: pink;
}
#container{
    background-color: white
    width:50%;
    margin-top: 20px;
    padding: 20px;
    font-family: 'Asap', sans-serif;
}
.left-col {
  float:left
}
.right-col{
    float:right
}
.clearfix{
   clear:both; 
}
h1 {
    color: #a64ac9;
}

.github{
    color:#a64ac9;
    text-decoration: none;
    padding:10px
    borderstyle:solid;
    border-radius:10px;
    border-width: 2px;
}